<footer
	class="fixed bottom-0 left-0 right-0 bg-pure-white/75 backdrop-blur-md border-t border-border-silver md:flex md:justify-center">
	<nav class="flex justify-around py-4 md:w-full md:max-w-120" aria-label="Main navigation">
		<a routerLink="/market" routerLinkActive="text-interactive-blue bg-interactive-blue/10"
			class="flex flex-col items-center text-sm text-medium-gray rounded-xl px-3 py-1 transition-all duration-200 relative"
			aria-label="Mercado">
			<span class="text-xl" aria-hidden="true">🛒</span>
			Mercado
			<badge-notification [count]="notifications.notificationsMenuMarketCount"
				[ariaLabel]="notifications.notificationsMenuMarketCount + ' notificaciones en Mercado'" />
		</a>

		<a routerLink="/budget" routerLinkActive="text-interactive-blue bg-interactive-blue/10"
			class="flex flex-col items-center text-sm text-medium-gray rounded-xl px-3 py-1 transition-all duration-200 relative"
			aria-label="Presupuesto">
			<span class="text-xl" aria-hidden="true">💰</span>
			Presupuesto
			<badge-notification [count]="notifications.notificationsMenuBudgetCount"
				[ariaLabel]="notifications.notificationsMenuBudgetCount + ' notificaciones en Presupuesto'" />
		</a>

		<a routerLink="/settings" routerLinkActive="text-interactive-blue bg-interactive-blue/10"
			class="flex flex-col items-center text-sm text-medium-gray rounded-xl px-3 py-1 transition-all duration-200 relative"
			aria-label="Settings">
			<span class="text-xl" aria-hidden="true">⚙️</span>
			Settings
			<badge-notification [count]="notifications.notificationsMenuSettingsCount"
				[ariaLabel]="notifications.notificationsMenuSettingsCount + ' notificaciones en Settings'" />
		</a>
	</nav>
</footer>