<div class="h-screen flex flex-col bg-canvas-white text-midnight-graphite">
  @if (toast.visible()) {
  <div
    class="fixed top-4 left-1/2 -translate-x-1/2 z-50 bg-midnight-graphite text-white px-4 py-2 rounded-xl shadow-xl">
    {{ toast.currentMessage() }}
  </div>
  }

  <app-header />

  <main class="flex-1 overflow-y-auto px-5 pt-4 md:pt-0 pb-28 md:flex md:justify-center ">
    <div class="w-full md:max-w-120 relative ">
      <router-outlet />
    </div>
  </main>

  <app-footer />
</div>