<a [routerLink]="route()" routerLinkActive="text-midnight-graphite bg-gray-100"
  class="flex flex-col items-center text-base font-medium text-medium-gray rounded-2xl px-4 py-2 transition-all duration-200 relative border border-gray-100 shadow-[0_1px_2px_rgba(0,0,0,0.05)]"
  [attr.aria-label]="label()">
  <span class="text-2xl block mb-1" aria-hidden="true">{{ icon() }}</span>
  {{ label() }}
  @if (badge() > 0) {
    <badge-notification [count]="badge()" [ariaLabel]="badge() + ' notificaciones en ' + label()" />
  }
</a>